/* Background color is per individual content */
/* Main body content */
body {
  background-color: #333;
  font-family: helvetica arial sans-serif serif; }

/* Link colors */
a, .tagline a {
  color: #6D6; }

/* Reddit Navigation - Subreddit links */
#sr-header-area {
  height: 18px;
  background-color: #666;
  font-family: helvetica arial sans-serif serif;
  font-weight: 400;
  font-size: 9px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #FFF; }

/* Dropdown box colors */
.drop-choices, .drop-choices a, .sr-bar a {
  background-color: #666;
  color: #9F9; }

.flat-list li a {
  /* future use */ }

/* MYSUBREDDITS and EDIT menu colors */
.dropdown.srdrop .selected, #sr-more-link {
  background-color: #666;
  color: #9F9; }

/* Main Header style*/
#header {
  background: #333;
  border-bottom: 1px solid #FFF;
  height: 100px; }

/**
 *  Reddit Logo Removed
 *  You can insert your own logo by following the commnets
 */
#header-img.default-header {
  /* remove this  */
  visibility: hidden;
  /* remove this */
  width: 0px;
  /* url("image.png")  instead of "none" */
  background-image: none;
  background-color: transparent; }

/* Subreddit name box */
#header-bottom-left {
  /* comment this out for more control */
  position: absolute;
  /* if you comment position out, comment this too */
  bottom: 0;
  margin: 0px 0px 0px 0px;
  padding: 0px; }

/* Subreddit Name */
#header-bottom-left .redditname, #header-bottom-left .redditname a {
  background-color: #333;
  /* url("image.png")  instead of "none" */
  background-image: none;
  font-family: helvetica arial sans-serif serif;
  font-size: 48px;
  font-weight: bold;
  color: #000;
  /* THIS OUT comment this out to remove the header text effect */
  text-shadow: 0 0 2px #FFF, 1px 1px 2px #FFF, -1px -1px 2px #FFF, 1px 0 #FFF, 0 1px #FFF, -1px 0 #FFF, 0 -1px #FFF, 3px 3px 3px black, -3px -3px 3px black, 3px 0 3px black, 0 3px 3px black, -3px 0 3px black, 0 -3px 3px black;
  /* THIS OUT */
  /*color: $TRANSPARENT;*/
  /* this will had the text allowing a image*/ }

/* Account management box */
#header-bottom-right {
  background-color: #555;
  border: 1px solid #FFF;
  border-bottom: none;
  border-radius: 5px; }

/* username karma text*/
.user {
  color: #494; }

/* account, preferences and logout text */
.user a, #header-bottom-right .flat-list li a, #header-bottom-right .logout a {
  background-color: #555;
  color: #6D6;
  font-weight: bold; }

/* Navigation tabs spacing */
.tabmenu li {
  margin: 0px; }

/* Navigation tabs background and text colors */
.tabmenu li a {
  background-color: #333;
  color: #494; }

/* Navigation link hover effect */
.tabmenu li a:hover {
  /* advanced */
  background-color: #333;
  color: #6D6; }

/* Selected tab styling */
.tabmenu li.selected a {
  background-color: #555;
  border: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: #6D6; }

/* Non-Visited Content Color */
.thing .title, .link .title {
  color: #FFF; }

/* Visited Content Color */
.thing .title a:visited {
  color: #888; }

/* Links under posts - comment, share, save etc*/
.entry .buttons li a {
  color: #6D6; }

/* submitted xx minutes ago by - color */
.tagline {
  color: #6D6; }

/* Side box/bar */
.side, .leavemoderator, .titlebox form.toggle, .icon-menu a, .morelink, .sidebox.create .spacer {
  background: none;
  background-color: #333;
  color: #FFF;
  font-weight: bold; }

/* Submit Buttons Border */
.morelink {
  border: 1px solid #FFF; }

/* Submit Buttons Text Color*/
.morelink a {
  color: #6D6; }

/* Side Box Header - Subreddit name */
.titlebox h1 a {
  color: #6D6;
  font-family: helvetica arial sans-serif serif;
  font-size: 24px;
  font-weight: bold; }

/* remove nub(arror) on buttons */
.nub {
  visibility: hidden; }

/* Post page colors */
.roundfield, .content.submit .info-notice, .tabmenu.formtab .selected a {
  background-color: #333;
  color: #FFF; }

/* Post page divider color */
.formtabs-content {
  border-top: 2px solid #FFF; }

/*# sourceMappingURL=styles.css.map */
