// Other
$TRANSPARENT: rgba(0,0,0,0);
$LOGO: none;
// Page
$BACKGROUND-COLOR: #333;
$FONT: helvetica arial sans-serif serif; //Will use first font supported
$LINK-COLOR: #6D6;

// Reddit Navigation - Subreddit links */
$RNAV-HEIGHT: 18px;
$RNAV-BACKGROUND-COLOR: #666;
$RNAV-DROPDOWN-BACKGROUND: #666;
$RNAV-FONT: helvetica arial sans-serif serif;
$RNAV-FONT-WEIGHT: 400;
$RNAV-FONT-SIZE: 9px;
$RNAV-LINE-HEIGHT: 18px;
$RNAV-TEXT-COLOR: #9F9;
$RNAV-DROPDOWN-TEXT-COLOR: #9F9;
$RNAV-BORDER: 1px solid #FFF;
$RNAV-MARGIN: 0px;
$RNAV-PADDING: 0px;
$RNAV-WHITE-SPACE: nowrap;
$RNAV-TEXT-TRANSFORM: uppercase;
$RNAV-CURSOR: auto;

// Main Header - Subreddit Name
$HEADER-HEIGHT: 100px;
$HEADER-BACKGROUND: #333;
$HEADER-IMAGE: none;
$HEADER-FONT: helvetica arial sans-serif serif;
$HEADER-FONT-SIZE: 48px;
$HEADER-FONT-WEIGHT: bold;
$HEADER-TEXT-COLOR: #000;
$HEADER-BORDER: 1px solid #FFF;
$HEADER-PADDING: 0px;
$HEADER-MARGIN: 0px 0px 0px 0px;

// Navigation Tabs
$NAV-BACKGROUND-COLOR: #333;
$NAV-COLOR: #494;
$NAV-SPACING: 0px;
$NAV-SELECTED-BORDER: 1px solid #FFF;
$NAV-SELECTED-TEXT-COLOR: #6D6;
$NAV-SELECTED-BACKGROUND-COLOR: #555;
$NAV-HOVER-BACKGROUND-COLOR: #333;
$NAV-HOVER-TEXT-COLOR: #6D6;

// Account box
$ACCOUNT-BACKGROUND-COLOR: #555;
$ACCOUNT-BORDER: 1px solid #FFF;
$ACCOUNT-BORDER-RADIUS: 5px;
$ACCOUNT-KARMA-COLOR: #494;
$ACCOUNT-TEXT-COLOR: #6D6;
$ACCOUNT-FONT-WEIGHT: bold;

// Main Content Links
$CONTENT-COLOR: #FFF;
$CONTENT-VISITED: #888;
$CONTENT-LINKS: #6D6;

// Side Box
$SIDE-HEADER-TEXT-COLOR: #6D6;
$SIDE-HEADER-FONT: helvetica arial sans-serif serif;
$SIDE-HEADER-FONT-SIZE: 24px;
$SIDE-HEADER-FONT-WEIGHT: bold;
$SIDE-BACKGROUND-COLOR: #333;
$SIDE-TEXT-COLOR: #FFF;
$SIDE-LINK-COLOR: #6D6;
$SIDE-FONT-WEIGHT: bold;
$SIDE-SUBMIT-BUTTON-BORDER: 1px solid #FFF;

// Post page customization
$POST-CONTAINER-COLOR: #333;
$POST-CONTAINER-TEXT-COLOR: #FFF;
$POST-DIVIDER-COLOR: 2px solid #FFF;
/* Background color is per individual content */
/* Main body content */
body {
  background-color: $BACKGROUND-COLOR;
  font-family: $FONT;
}
/* Link colors */
a, .tagline a{
  color: $LINK-COLOR;
}
/* Reddit Navigation - Subreddit links */
#sr-header-area {
  height: $RNAV-HEIGHT;
  background-color: $RNAV-BACKGROUND-COLOR;
  font-family: $RNAV-FONT;
  font-weight: $RNAV-FONT-WEIGHT;
  font-size: $RNAV-FONT-SIZE;
  line-height: $RNAV-LINE-HEIGHT;
  text-transform: $RNAV-TEXT-TRANSFORM;
  white-space: $RNAV-WHITE-SPACE;
  margin: $RNAV-MARGIN;
  padding: $RNAV-PADDING;
  border-bottom: $RNAV-BORDER;
}
/* Dropdown box colors */
.drop-choices, .drop-choices a, .sr-bar a{
  background-color: $RNAV-BACKGROUND-COLOR;
  color: $RNAV-TEXT-COLOR;
}
.flat-list li a {
  /* future use */
}
/* MYSUBREDDITS and EDIT menu colors */
.dropdown.srdrop .selected, #sr-more-link {
  background-color: $RNAV-DROPDOWN-BACKGROUND;
  color: $RNAV-DROPDOWN-TEXT-COLOR;
}
/* Main Header style*/
#header {
  background: $HEADER-BACKGROUND;
  border-bottom: $HEADER-BORDER;
  height: $HEADER-HEIGHT;
}
/**
 *  Reddit Logo Removed
 *  You can insert your own logo by following the commnets
 */
#header-img.default-header {
  visibility: hidden; /* rmeove this  */
  width: 0px; /* remove this */
  background-image: $LOGO; /* url("image.png")  instead of "none" */
  background-color: $TRANSPARENT;
}
/* Subreddit name box */
#header-bottom-left {
  position: absolute; /* comment this out for more control */
  bottom: 0; /* if you comment position out, comment this too */
  margin: $HEADER-MARGIN;
  padding: $HEADER-PADDING;
}
/* Subreddit Name */
#header-bottom-left .redditname, #header-bottom-left .redditname a {
  background-color: $HEADER-BACKGROUND;
  background-image: $HEADER-IMAGE; /* url("image.png")  instead of "none" */
  font-family: $HEADER-FONT;
  font-size: $HEADER-FONT-SIZE;
  font-weight: $HEADER-FONT-WEIGHT;
  color: $HEADER-TEXT-COLOR;
  /* THIS OUT comment this out to remove the header text effect */
  text-shadow:
    0 0 2px #FFF,
    1px 1px 2px #FFF,
    -1px -1px 2px #FFF,
    1px 0 #FFF,
    0 1px #FFF,
    -1px 0 #FFF,
    0 -1px #FFF,
    3px 3px 3px rgba(0,0,0,50),
    -3px -3px 3px rgba(0,0,0,50),
    3px 0 3px rgba(0,0,0,50),
    0 3px 3px rgba(0,0,0,50),
    -3px 0 3px rgba(0,0,0,50),
    0 -3px 3px rgba(0,0,0,50);
  /* THIS OUT */
  /*color: $TRANSPARENT;*/ /* this will had the text allowing a image*/
}
/* Account management box */
#header-bottom-right {
  background-color: $ACCOUNT-BACKGROUND-COLOR;
  border: $ACCOUNT-BORDER;
  border-bottom: none;
  border-radius: $ACCOUNT-BORDER-RADIUS;
}
/* username karma text*/
.user {
  color: $ACCOUNT-KARMA-COLOR;
}
/* account, preferences and logout text */
.user a, #header-bottom-right .flat-list li a, #header-bottom-right .logout a{
  background-color: $ACCOUNT-BACKGROUND-COLOR;
  color: $ACCOUNT-TEXT-COLOR;
  font-weight: $ACCOUNT-FONT-WEIGHT;
}
/* Navigation tabs spacing */
.tabmenu li {
  margin: $NAV-SPACING;
}
/* Navigation tabs background and text colors */
.tabmenu li a {
  background-color: $NAV-BACKGROUND-COLOR;
  color: $NAV-COLOR;
}
/* Navigation link hover effect */
.tabmenu li a:hover {
  /* advanced */
  background-color: $NAV-HOVER-BACKGROUND-COLOR;
  color: $NAV-HOVER-TEXT-COLOR;
}
/* Selected tab styling */
.tabmenu li.selected a {
  background-color: $NAV-SELECTED-BACKGROUND-COLOR;
  border: $NAV-SELECTED-BORDER;
  border-bottom: $HEADER-BORDER;
  color: $NAV-SELECTED-TEXT-COLOR;
}
/* Non-Visited Content Color */
.thing .title, .link .title {
  color: $CONTENT-COLOR;
}
/* Visited Content Color */
.thing .title a:visited {
  color: $CONTENT-VISITED;
}
/* Links under posts - comment, share, save etc*/
.entry .buttons li a {
  color: $CONTENT-LINKS;
}
/* submitted xx minutes ago by - color */
.tagline {
  color: $CONTENT-LINKS;
}
/* Side box/bar */
.side, .leavemoderator, .titlebox form.toggle, .icon-menu a, .morelink, .sidebox.create .spacer{
  background: none;
  background-color: $SIDE-BACKGROUND-COLOR;
  color: $SIDE-TEXT-COLOR;
  font-weight: $SIDE-FONT-WEIGHT;
}
/* Submit Buttons Border */
.morelink {
  border: $SIDE-SUBMIT-BUTTON-BORDER;
}
/* Submit Buttons Text Color*/
.morelink a{
  color: $SIDE-LINK-COLOR;
}
/* Side Box Header - Subreddit name */
.titlebox h1 a {
  color: $SIDE-HEADER-TEXT-COLOR;
  font-family: $SIDE-HEADER-FONT;
  font-size: $SIDE-HEADER-FONT-SIZE;
  font-weight: $SIDE-HEADER-FONT-WEIGHT;
}
/* remove nub(arror) on buttons */
.nub {
visibility: hidden;
}
 /* Post page colors */
.roundfield, .content.submit .info-notice, .tabmenu.formtab .selected a {
  background-color: $POST-CONTAINER-COLOR;
  color: $POST-CONTAINER-TEXT-COLOR;
}
/* Post page divider color */
.formtabs-content {
  border-top: $POST-DIVIDER-COLOR;
}
