/* Background color is per individual content */
/* Main body content */
body {
  background-color: #DDF;
  font-family: helvetica arial sans-serif serif; }

/* Link colors */
a, .tagline a {
  color: #99F; }

/* Reddit Navigation - Subreddit links */
#sr-header-area {
  height: 18px;
  background-color: #DDF;
  font-family: helvetica arial sans-serif serif;
  font-weight: n400;
  font-size: 9px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #000; }

/* Dropdown box colors */
.drop-choices, .drop-choices a {
  background-color: #DDF;
  color: #000; }

.flat-list li a {
  /* future use */ }

/* MYSUBREDDITS and EDIT menu colors */
.dropdown.srdrop .selected, #sr-more-link {
  background-color: #DDF;
  color: #000; }

/* Main Header style*/
#header {
  background: #99F;
  border-bottom: 1px solid #000;
  height: 100px; }

/**
 *  Reddit Logo Removed
 *  You can insert your own logo by following the commnets
 */
#header-img.default-header {
  visibility: hidden;
  /* rmeove this  */
  width: 0px;
  /* remove this */
  background-image: none;
  /* url("image.png")  instead of "none" */
  background-color: transparent; }

/* Subreddit name box */
#header-bottom-left {
  position: absolute;
  /* comment this out for more control */
  bottom: 0;
  /* if you comment position out, comment this too */
  margin: 0px 0px 0px 0px;
  padding: 0px; }

/* Subreddit Name */
#header-bottom-left .redditname, #header-bottom-left .redditname a {
  background-color: #99F;
  background-image: none;
  /* url("image.png")  instead of "none" */
  font-family: helvetica arial sans-serif serif;
  font-size: 48px;
  font-weight: bold;
  color: #900;
  /*color: $TRANSPARENT;*/
  /* this will had the text allowing a image*/ }

/* Account management box */
#header-bottom-right {
  background-color: #DDF;
  border: 1px solid #000;
  border-bottom: none;
  border-radius: 5px; }

/* username karma text*/
.user {
  color: #888; }

/* account, preferences and logout text */
.user a, #header-bottom-right .flat-list li a, #header-bottom-right .logout a {
  background-color: #DDF;
  color: #99F;
  font-weight: bold; }

/* Navigation tabs spacing */
.tabmenu li {
  margin: 0px; }

/* Navigation tabs background and text colors */
.tabmenu li a {
  background-color: #99F;
  color: #DDF; }

/* Navigation link hover effect */
.tabmenu li a:hover {
  /* advanced */
  background-color: #99F; }

/* Selected tab styling */
.tabmenu li.selected a {
  background-color: #99F;
  border: 1px solid #DDF;
  border-bottom: 1px solid #000;
  color: #DDF; }

/* Non-Visited Content Color */
.thing .title, .link .title {
  color: #000; }

/* Visited Content Color */
.thing .title a:visited {
  color: #888; }

/* Links under posts - comment, share, save etc*/
.entry .buttons li a {
  color: #555; }

/* submitted xx minutes ago by - color */
.tagline {
  color: #555; }

/* Side box/bar */
.side, .leavemoderator, .titlebox form.toggle, .icon-menu a, .morelink, .sidebox.create .spacer {
  background: none;
  background-color: #DDF;
  color: #000;
  font-weight: bold; }

/* Submit Buttons Border */
.morelink {
  border: 1px solid #000; }

/* Submit Buttons Text Color*/
.morelink a {
  color: #99F; }

/* Side Box Header - Subreddit name */
.titlebox h1 a {
  color: #900;
  font-family: helvetica arial sans-serif serif;
  font-size: 24px;
  font-weight: bold; }

/* remove nub(arror) on buttons */
.nub {
  visibility: hidden; }

/*# sourceMappingURL=styles.css.map */
